/* You can add global styles to this file, and also import other style files */
.nav-style {
	border-bottom: 1px white;
}

.background {
	background-image: url("/assets/Charles-brand/texture_blue.jpeg");

}



.charles-brand {
	width: 150px;
	height: 40px;
}
.ce-brand {
  width: 50px;
  height: 50px;
}

.main-text {
	  position: absolute;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 200;
    margin-bottom: 5%;

}

.style-nav {
    border-bottom: 1px;
    border-bottom-style: groove;

    
}
@media (max-width: 544px) {
  .style-nav {
    border-bottom: 1px;
    border-bottom-style: groove;
    background-color: #001522;
   
  }
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.button-scroll {
    padding-top: 300px;
    margin-bottom: -200px;
}

@media (max-width: 1400px) {
  .button-scroll {
    padding-top: 20%;
    margin-bottom: -200px;
  }
}

@media (max-width: 573px) {
  .button-scroll {
    padding-top: 50%;
    margin-bottom: -200px;
  }
}

.ce-index {
    padding-bottom: 200px;
    margin-top: -250px;
}

@media (max-width: 576px) {
	.ce-index{
	padding-top: 50px;
	padding-bottom: 200px;
    margin-top: -250px;
	}
}
.index {
	text-align: justify;
}
.btcusd {
	font-size: 15px;
	font-weight: 100;
	color: green;
}

#video-background { 

  opacity: 0.9;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  z-index: -2;
  width:100%;
}

.layer-transparent {
  background: white;
  z-index: 1;
  position: absolute;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    //padding: 20px;
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 25%;
    color: white;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #001522;
    opacity: 0.7;
    position: absolute;
}
 @media (min-width: 1440px ) {
    .overlay { 
      height: 100%;
      width: 100%;
      position: absolute;
      padding-top: 13%;
      color: white;
      top: 0px;
      left: 0px;
      z-index: 1;
      background: #001522;
      opacity: 0.7;
      position: absolute;
      

    }
 }



@media (max-width: 990px){
  .overlay {
    opacity: 1;
  }
}

.gold-button {
  
  color: #ffffff;
  border-color: #1ca0b4;
  z-index: 5;
  font-weight: 100;
}

.header-text {
  font-weight: 300;
}

@media (max-width: 544px){
  .header-text {
    margin-top: 22%;
    font-size: 1.2rem;
    padding: 10px;


    }
}

@media (device-width: 768px) and (device-height: 1024px){
  .header-text {
    margin-top: -1%;
    font-size: 1.2rem;


    }
}
.secondary-text {
  padding-top: 10px;
  padding-bottom: 30px;
}

.feature {

}

@media (min-width: 544px ) {
 
}

.center-icon {
    display: block;
    margin: 0 auto;
}
.center-text {
  text-align: center;
  letter-spacing: 2px;
}
.text-features {
  font-size: 0.9rem;
  margin-top: 20px;
}



.features-link {

  font-size: 0.7rem;
  text-align: center;
  color: #5fadc6;

}


.button-meeting {
  background-color: #1ca0b4;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
}

@media (max-width: 544px) {
  .button-meeting {
  background-color: #1ca0b4;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
  width: 80%;
  }
}

.container-dark {
  background-color: #e6e6e6;
}



.footer-style {
  background-color: #001522;
  color: #ffffff;
  
}

.pt-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem  !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    width: 100%;
    background-color: #001522;
    color: #ffffff;
}
.mt-5 {
    margin-top: 7rem !important;
}

.pb-8 {
  padding-bottom: 6rem !important;
}

.border {
  border-left: solid; 
  border: #ffffff;
}

.faded-background {
  background: rgba(245,249,248,1);
  background: -moz-linear-gradient(left, rgba(245,249,248,1) 0%, rgba(245,249,248,1) 1%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,249,248,1)), color-stop(1%, rgba(245,249,248,1)), color-stop(41%, rgba(255,255,255,1)), color-stop(97%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(245,249,248,1) 0%, rgba(245,249,248,1) 1%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(245,249,248,1) 0%, rgba(245,249,248,1) 1%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(245,249,248,1) 0%, rgba(245,249,248,1) 1%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(245,249,248,1) 0%, rgba(245,249,248,1) 1%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f9f8', endColorstr='#ffffff', GradientType=1 );
}

.ecosystem-description-title {
  padding-top: 6rem !important;
  
}
@media (max-height: 1555px) {
  .ecosystem-description-title {
    padding-top: 0.9rem !important;
    font-size: 1rem !important;
  }
} 

.card-text {
  font-size: 0.7rem !important ;
}

.footer-disclaimer {
  font-size: 0.6rem !important;
  text-align: justify;

}

.bottom_ul { 
  list-style-type:none; float:right; margin-bottom:0px;
}
.bottom_ul li { 
  float:left; line-height:40px;
}
.bottom_ul li:after { 
  content:"/"; color:#FFF; margin-right:8px; margin-left:8px;
}
.bottom_ul li a { 
  color:#FFF;  font-size:12px;
}

.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}
 
 
.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:16px; font-weight:500; color:#d9d6d6; margin-bottom:22px;}

.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:10px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#1ca0b4; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }

 @media (min-width: 1270px ) {
    .jumbotron { 
      max-height: 640px;

    }
 }

 .corrector-footer-device {

 }

 @media (max-width: 767px) {
      .corrector-footer-device{
        padding-left: 3rem !important;
      }
 }
 .p-sm-5 {

 }

 @media (max-width: 990px) {
  .p-sm-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  font-size: 0.5rem !important;
  }

 
 }

 .corrector-font-size {

 }

 @media (max-width: 1555px){
  .corrector-font-size {
    margin-top: 0rem !important;
  }
 }

 @media (max-height: 1000px) {
  .text-features {
    font-size: 0.7rem;
    padding-top: 0px;
    margin-top: 0px;
   
  }
}

.max-height {
  max-height: 200px;
}